<div class="bg-gray-100 flex items-center justify-center h-screen">
  <div class="rounded border p-10 bg-white w-96">
    <div class="text-2xl pb-4">Cinema World</div>

    <%# <form action={action} className={className} method={formMethod}>
      <CSRFToken />
      <input type="hidden" name="_method" value={method} />
      {children}
    </form>
      const value = document.querySelector('meta[name="csrf-token"]')?.content

  return (
    <input
      name="authenticity_token"
      type="hidden"
      value={value}
    />
  ) %>
    <form action="/users/sign_in" method="POST">
      <label class="flex leading-none text-xs font-light text-gray-900">
        Email
      </label>
      <input
        class="mb-2 border-2 w-full border-gray-900 h-10 leading-none px-2"
        name="user[email]"
      />

      <label class="flex leading-none text-xs font-light text-gray-900">
        Password
      </label>

      <input
        class="mb-4 w-full border-2 border-gray-900 h-10 leading-none px-2"
        type="password"
        name="user[password]"
      />
      
      <button
        class="h-10 w-full duration-300 hover:bg-gray-700 bg-gray-900 text-gray-50 px-4 border leading-none"
        type="submit"
      >
        Sign In
      </button>
    </form>
  </div>
</div>

<div class="hidden">
  asd
  <%= render "devise/shared/links" %>
</div>
